<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/pagination.css' %}" />
    <title>ASI- (Amplify Social Interaction) </title>
  </head>

  <body>
    {% include 'navbar.html' %}
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    {{message}}
    {% endfor %}
</ul>
{% endif %}
    {% block content %}
        
    {% endblock content %}
  {% include 'footer.html' %}
  </body>
    <script src="{% static 'js/script.js' %}"></script>
  <script>
    document.querySelector('#delete').addEventListener('click' , ()=>{
       prompt("Are you sure you want delete ?")
   })
</script>
</html>













